extends base.pug

include ../partials/sidebar.pug
include ../partials/topbar.pug
include ../partials/notifications.pug
include ../partials/footer.pug

//- block content

//- block modals

//- block pageScript
