/* -------------------------------------------------------------------------- */
/* Dashboard Index                                                             */
/* -------------------------------------------------------------------------- */

/* .dashboard { */
/* --tw-space-y-reverse: 0;
    margin-top: calc(1.5rem * calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(1.5rem * var(--tw-space-y-reverse)) */
/* } */

.dashboard__header--container {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 1rem;
}

.dashboard__header__container--widgetCard {
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    background: var(--gradient-card);
    border-radius: .75rem;
    border-width: 1px;
    border-color: hsl(var(--border));
    background-image: linear-gradient(to bottom right, var(--tw-gradient-stops));
    padding: 1.25rem;

    --tw-shadow: var(--shadow-md);
    --tw-shadow-colored: var(--shadow-md);

    &.is-primary {
        background-image: linear-gradient(to bottom right, var(--tw-gradient-stops));
        --tw-gradient-from: hsl(var(--primary) / .2) var(--tw-gradient-from-position);
        --tw-gradient-to: hsl(var(--primary) / 0) var(--tw-gradient-to-position);
        --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
        --tw-gradient-to: hsl(var(--primary) / .05) var(--tw-gradient-to-position);

        & .right {
            background-color: hsl(var(--primary) / .2);
            color: hsl(var(--primary));
        }
    }

    &.is-pending {
        background-image: linear-gradient(to bottom right, var(--tw-gradient-stops));
        --tw-gradient-from: hsl(var(--status-pending) / .2) var(--tw-gradient-from-position);
        --tw-gradient-to: hsl(var(--status-pending) / 0) var(--tw-gradient-to-position);
        --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
        --tw-gradient-to: hsl(var(--status-pending) / .05) var(--tw-gradient-to-position);

        & .right {
            background-color: hsl(var(--status-pending) / .2);
            color: hsl(var(--status-pending));
        }
    }

    &.is-quickCheck {
        background-image: linear-gradient(to bottom right, var(--tw-gradient-stops));
        --tw-gradient-from: hsl(var(--card)) var(--tw-gradient-from-position);
        --tw-gradient-to: hsl(var(--card) / 0) var(--tw-gradient-to-position);
        --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
        --tw-gradient-to: hsl(var(--card)) var(--tw-gradient-to-position);

        & .right {
            background-color: hsl(var(--muted));
            color: hsl(var(--muted-foreground));
        }
    }

    &.is-reworkRate {
        background-image: linear-gradient(to bottom right, var(--tw-gradient-stops));
        --tw-gradient-from: hsl(var(--destructive) / .2) var(--tw-gradient-from-position);
        --tw-gradient-to: hsl(var(--destructive) / 0) var(--tw-gradient-to-position);
        --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
        --tw-gradient-to: hsl(var(--destructive) / .05) var(--tw-gradient-to-position);

        & .right {
            background-color: hsl(var(--destructive) / .2);
            color: hsl(var(--destructive));
        }
    }
}

.dashboard__header__container__widgetCard--info {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    & .left--title {
        font-size: .875rem;
        line-height: 1.25rem;
        font-weight: 500;
        color: hsl(var(--muted-foreground));
    }

    & .left--counter {
        --tw-space-y-reverse: 0;

        color: hsl(var(--foreground));
        margin-top: calc(.5rem * calc(1 - var(--tw-space-y-reverse)));
        margin-bottom: calc(.5rem * var(--tw-space-y-reverse));
        font-weight: 700;
        font-size: 1.875rem;
        line-height: 2.25rem;
    }

    & .left--extraInfo {
        --tw-space-y-reverse: 0;
        margin-top: calc(.5rem * calc(1 - var(--tw-space-y-reverse)));
        margin-bottom: calc(.5rem * var(--tw-space-y-reverse));
        color: hsl(var(--status-completed));
        font-size: .875rem;
        line-height: 1.25rem;
        display: flex;
        align-items: center;
        gap: .25rem;

        &.is-negative {
            color: hsl(var(--destructive)) !important;
        }
    }

    & .right {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 0.75rem;
        background-color: hsl(var(--primary) / .2);
        color: hsl(var(--primary));
        height: 3rem;
        width: 3rem;

    }
}

.dashboard__extraHeader--container {
    --tw-space-y-reverse: 0;
    margin-top: calc(1.5rem * calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(1.5rem * var(--tw-space-y-reverse));
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 1rem;
}

.dashboard__extraHeader__container--widgetCard {
    --tw-shadow: var(--shadow-sm);
    --tw-shadow-colored: var(--shadow-sm);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    border-radius: var(--radius);
    border-width: 1px;
    border-color: hsl(var(--status-pending) / .5);
    background-color: hsl(var(--status-pending) / .05);
    color: hsl(var(--card-foreground));

    &.is-pending {
        border-color: hsl(var(--status-pending) / .5);
        background-color: hsl(var(--status-pending) / .05);

        & .left {
            background-color: hsl(var(--status-pending) / .2);
            color: hsl(var(--status-pending)) !important;
        }

        & .middle .title {
            color: hsl(var(--status-pending)) !important;
        }
    }

    &.is-destructive {
        border-color: hsl(var(--destructive) / .5);
        background-color: hsl(var(--destructive) / .05);

        & .left {
            background-color: hsl(var(--destructive) / .2);
            color: hsl(var(--destructive)) !important;
        }

        & .middle .title {
            color: hsl(var(--destructive)) !important;
        }
    }

    &.is-secondary {
        border-color: hsl(var(--secondary) / .5);
        background-color: hsl(var(--secondary) / .05);

        & .left {
            background-color: hsl(var(--secondary) / .2);
            color: hsl(var(--secondary)) !important;
        }

        & .middle .title {
            color: hsl(var(--secondary)) !important;
        }
    }
}

.dashboard__extraHeader__container__widgetCard--info {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1rem;

    & .left {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 2.25rem;
        width: 2.25rem;
        border-radius: var(--radius);
    }

    & .middle {
        flex: 1 1 0%;
        color: hsl(var(--muted-foreground));
    }

    & .right {
        --tw-ring-offset-color: hsl(var(--background));
        transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
        transition-timing-function: cubic-bezier(.4, 0, .2, 1);
        transition-duration: .15s;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;
        white-space: nowrap;
        border-radius: calc(var(--radius) - 2px);
        border-width: 1px;
        border-color: hsl(var(--background));
        height: 2.25rem;
        padding-inline: 0.75rem;
        font-size: .875rem;
        line-height: 1.25rem;
        font-weight: 500;
    }
}

.dashboard__main--container {
    --tw-space-y-reverse: 0;
    margin-top: calc(1.5rem * calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(1.5rem * var(--tw-space-y-reverse));
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 1.5rem;

}

.dashboard__main__container--left {
    border-radius: var(--radius);
    border-width: 1px;
    background-color: hsl(var(--card));
    color: hsl(var(--card-foreground));

    --tw-shadow: var(--shadow-sm);
    --tw-shadow-colored: var(--shadow-sm);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);

    & .header {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 1.5rem;

        & .title {
            margin: 0;
            font-size: 1rem;
            line-height: 1.5rem;
            font-weight: 600;
            letter-spacing: -0.25em;
        }

        & button {
            display: flex;
            height: 2.25rem;
            align-items: center;
            justify-content: center;
            gap: 0.5rem;
            white-space: nowrap;
            border-radius: calc(var(--radius) - 2px);
            padding-inline: 0.75rem;
            font-size: 0.875rem;
            line-height: 1.25rem;
            font-weight: 500;
            --tw-ring-offset-color: hsl(var(--background));
            transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
            transition-timing-function: cubic-bezier(.4, 0, .2, 1);
            transition-duration: .15s;
            --tw-space-y-reverse: 0;
            margin-top: calc(.375rem * calc(1 - var(--tw-space-y-reverse)));
            margin-bottom: calc(.375rem * var(--tw-space-y-reverse));
        }
    }
}




/* @media (min-width: 1024px) {
.dashboard__header--container {
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }
} */

@media (max-width: 1280px) {
    .dashboard__header--container {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    .dashboard__extraHeader--container {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }

}