/* -------------------------------------------------------------------------- */
/* Dashboard Index                                                             */
/* -------------------------------------------------------------------------- */

.dashboard:not(:first-child) {
    --tw-space-y-reverse: 0;
    margin-top: calc(1.5rem * calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(1.5rem * var(--tw-space-y-reverse));
}

.dashboard-header {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 1rem;
}

.dashboard-header__widget {
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    background: var(--gradient-card);
    border-radius: .75rem;
    border-width: 1px;
    border-color: hsl(var(--border));
    background-image: linear-gradient(to bottom right, var(--tw-gradient-stops));
    padding: 1.25rem;

    --tw-shadow: var(--shadow-md);
    --tw-shadow-colored: var(--shadow-md);

    &.is-primary {
        background-image: linear-gradient(to bottom right, var(--tw-gradient-stops));
        --tw-gradient-from: hsl(var(--primary) / .2) var(--tw-gradient-from-position);
        --tw-gradient-to: hsl(var(--primary) / 0) var(--tw-gradient-to-position);
        --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
        --tw-gradient-to: hsl(var(--primary) / .05) var(--tw-gradient-to-position);

        & .widget-icon {
            background-color: hsl(var(--primary) / .2);
            color: hsl(var(--primary));
        }
    }

    &.is-pending {
        background-image: linear-gradient(to bottom right, var(--tw-gradient-stops));
        --tw-gradient-from: hsl(var(--status-pending) / .2) var(--tw-gradient-from-position);
        --tw-gradient-to: hsl(var(--status-pending) / 0) var(--tw-gradient-to-position);
        --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
        --tw-gradient-to: hsl(var(--status-pending) / .05) var(--tw-gradient-to-position);

        & .widget-icon {
            background-color: hsl(var(--status-pending) / .2);
            color: hsl(var(--status-pending));
        }
    }

    &.is-quickCheck {
        background-image: linear-gradient(to bottom right, var(--tw-gradient-stops));
        --tw-gradient-from: hsl(var(--card)) var(--tw-gradient-from-position);
        --tw-gradient-to: hsl(var(--card) / 0) var(--tw-gradient-to-position);
        --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
        --tw-gradient-to: hsl(var(--card)) var(--tw-gradient-to-position);

        & .widget-icon {
            background-color: hsl(var(--muted));
            color: hsl(var(--muted-foreground));
        }
    }

    &.is-reworkRate {
        background-image: linear-gradient(to bottom right, var(--tw-gradient-stops));
        --tw-gradient-from: hsl(var(--destructive) / .2) var(--tw-gradient-from-position);
        --tw-gradient-to: hsl(var(--destructive) / 0) var(--tw-gradient-to-position);
        --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
        --tw-gradient-to: hsl(var(--destructive) / .05) var(--tw-gradient-to-position);

        & .widget-icon {
            background-color: hsl(var(--destructive) / .2);
            color: hsl(var(--destructive));
        }
    }
}

.dashboard-header__widget-content {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    & .widget-metric__title {
        font-size: .875rem;
        line-height: 1.25rem;
        font-weight: 500;
        color: hsl(var(--muted-foreground));
    }

    & .widget-metric__value {
        --tw-space-y-reverse: 0;

        color: hsl(var(--foreground));
        margin-top: calc(.5rem * calc(1 - var(--tw-space-y-reverse)));
        margin-bottom: calc(.5rem * var(--tw-space-y-reverse));
        font-weight: 700;
        font-size: 1.875rem;
        line-height: 2.25rem;
    }

    & .widget-metric__trend {
        --tw-space-y-reverse: 0;
        margin-top: calc(.5rem * calc(1 - var(--tw-space-y-reverse)));
        margin-bottom: calc(.5rem * var(--tw-space-y-reverse));
        color: hsl(var(--status-completed));
        font-size: .875rem;
        line-height: 1.25rem;
        display: flex;
        align-items: center;
        gap: .25rem;

        &.is-negative {
            color: hsl(var(--destructive)) !important;
        }
    }

    & .widget-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 0.75rem;
        background-color: hsl(var(--primary) / .2);
        color: hsl(var(--primary));
        height: 3rem;
        width: 3rem;

    }
}

.dashboard-subheader {
    --tw-space-y-reverse: 0;
    margin-top: calc(1.5rem * calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(1.5rem * var(--tw-space-y-reverse));
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 1rem;
}

.dashboard-subheader__widget {
    --tw-shadow: var(--shadow-sm);
    --tw-shadow-colored: var(--shadow-sm);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    border-radius: var(--radius);
    border-width: 1px;
    border-color: hsl(var(--status-pending) / .5);
    background-color: hsl(var(--status-pending) / .05);
    color: hsl(var(--card-foreground));

    &.is-pending {
        border-color: hsl(var(--status-pending) / .5);
        background-color: hsl(var(--status-pending) / .05);

        & .widget-icon {
            background-color: hsl(var(--status-pending) / .2);
            color: hsl(var(--status-pending)) !important;
        }

        & .widget-summary .widget-summary__title {
            color: hsl(var(--status-pending)) !important;
        }
    }

    &.is-destructive {
        border-color: hsl(var(--destructive) / .5);
        background-color: hsl(var(--destructive) / .05);

        & .widget-icon {
            background-color: hsl(var(--destructive) / .2);
            color: hsl(var(--destructive)) !important;
        }

        & .widget-summary .widget-summary__title {
            color: hsl(var(--destructive)) !important;
        }
    }

    &.is-secondary {
        border-color: hsl(var(--secondary) / .5);
        background-color: hsl(var(--secondary) / .05);

        & .widget-icon {
            background-color: hsl(var(--secondary) / .2);
            color: hsl(var(--secondary)) !important;
        }

        & .widget-summary .widget-summary__title {
            color: hsl(var(--secondary)) !important;
        }
    }
}

.dashboard-subheader__widget-content {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1rem;

    & .widget-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 2.25rem;
        width: 2.25rem;
        border-radius: var(--radius);
    }

    & .widget-summary {
        flex: 1 1 0%;

        & .widget-summary__title {
            font-weight: 500;
            color: hsl(var(--foreground));
        }

        & .widget-summary__subtitle {
            font-size: .75rem;
            line-height: 1rem;
            color: hsl(var(--muted-foreground));
        }
    }

    & .widget-action {
        --tw-ring-offset-color: hsl(var(--background));
        transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
        transition-timing-function: cubic-bezier(.4, 0, .2, 1);
        transition-duration: .15s;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;
        white-space: nowrap;
        border-radius: calc(var(--radius) - 2px);
        border-width: 1px;
        border-color: hsl(var(--background));
        height: 2.25rem;
        padding-inline: 0.75rem;
        font-size: .875rem;
        line-height: 1.25rem;
        font-weight: 500;

        &:hover {
            background-color: hsl(var(--accent));
            color: hsl(var(--accent-foreground));
        }

        &:focus-visible {
            outline: 2px solid transparent;
            outline-offset: 2px;
            --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
            --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color);
            box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
            --tw-ring-color: hsl(var(--ring));
            --tw-ring-offset-width: 2px;
        }
    }
}

.dashboard-main {
    --tw-space-y-reverse: 0;
    margin-top: calc(1.5rem * calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(1.5rem * var(--tw-space-y-reverse));
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 1.5rem;

}

.dashboard-main__column--left {
    border-radius: var(--radius);
    border-width: 1px;
    background-color: hsl(var(--card));
    color: hsl(var(--card-foreground));

    --tw-shadow: var(--shadow-sm);
    --tw-shadow-colored: var(--shadow-sm);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);

    & .section-header {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 1.5rem;

        & .section-header__title {
            margin: 0;
            font-size: 1rem;
            line-height: 1.5rem;
            font-weight: 600;
            letter-spacing: -0.025em;
        }

        & .section-header__action {
            display: flex;
            height: 2.25rem;
            align-items: center;
            justify-content: center;
            gap: 0.5rem;
            white-space: nowrap;
            border-radius: calc(var(--radius) - 2px);
            padding-inline: 0.75rem;
            font-size: 0.875rem;
            line-height: 1.25rem;
            font-weight: 500;
            --tw-ring-offset-color: hsl(var(--background));
            transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
            transition-timing-function: cubic-bezier(.4, 0, .2, 1);
            transition-duration: .15s;
            --tw-space-y-reverse: 0;
            margin-top: calc(.375rem * calc(1 - var(--tw-space-y-reverse)));
            margin-bottom: calc(.375rem * var(--tw-space-y-reverse));

            &:hover {
                background-color: hsl(var(--accent));
                color: hsl(var(--accent-foreground));
            }

            &:focus-visible {
                outline: 2px solid transparent;
                outline-offset: 2px;
                --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
                --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color);
                box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
                --tw-ring-color: hsl(var(--ring));
                --tw-ring-offset-width: 2px;
            }
        }
    }

    & .activity-list {
        padding: 0 1.5rem 1.5rem 1.5rem;

        & .activity-item {
            display: flex;
            cursor: pointer;
            align-items: center;
            gap: 1rem;
            border-radius: var(--radius);
            background-color: hsl(var(--muted) / 0.3);
            padding: 0.75rem;
            transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
            transition-timing-function: cubic-bezier(.4, 0, .2, 1);
            transition-duration: .15s;

            &:hover {
                background-color: hsl(var(--muted) / 0.5);
            }

            &:focus-visible {
                outline: auto;
            }

            &:not(:first-child) {
                --tw-space-y-reverse: 0;
                margin-top: calc(.75rem * calc(1 - var(--tw-space-y-reverse)));
                margin-bottom: calc(.75rem * var(--tw-space-y-reverse));
            }

            & .activity-item__icon {
                display: flex;
                height: 2.25rem;
                width: 2.25rem;
                align-items: center;
                justify-content: center;
                border-radius: var(--radius);
                background-color: hsl(var(--muted));
            }

            & .activity-item__device {
                flex: 1 1 0%;
                min-width: 0;

                & .activity-item__device-title {
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    font-weight: 500;
                }

                & .activity-item__device-subtitle {
                    font-family: JetBrains Mono, Fira Code, monospace;
                    font-size: .75rem;
                    line-height: 1rem;
                    color: hsl(var(--muted-foreground));
                }
            }

            & .activity-item__status {
                display: inline-flex;
                align-items: center;
                border-radius: 9999px;
                border-width: 1;
                border-color: hsl(var(--chart-2) / 0.3);
                background-color: hsl(var(--chart-2) / .2);
                padding-inline: 0.5rem;
                padding-block: 0.125rem;
                font-size: .75rem;
                line-height: 1rem;
                font-weight: 500;
                color: hsl(var(--chart-2));
                transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
                transition-timing-function: cubic-bezier(.4, 0, .2, 1);
                transition-duration: .15s;
            }

            & .activity-item__timestamp {
                display: flex;
                align-items: center;
                gap: 0.25rem;
                font-size: 0.75rem;
                line-height: 1rem;
                color: hsl(var(--muted-foreground));
            }
        }
    }
}

.dashboard-main__column--right {

    & .widget.widget--workflow {
        border-radius: var(--radius);
        border-width: 1px;
        background-color: hsl(var(--card));
        color: hsl(var(--card-foreground));
        --tw-shadow: var(--shadow-sm);
        --tw-shadow-colored: var(--shadow-sm);
        box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);

        & .section-header {
            display: flex;
            flex-direction: column;
            padding: 1.5rem;

            & .section-header__title {
                font-size: 1rem;
                line-height: 1.5rem;
                font-weight: 600;
                letter-spacing: -0.025em;
            }
        }

        & .workflow-list {
            padding: 0 1.5rem 1.5rem 1.5rem;

            & .workflow-item:not(:first-child) {
                
            }
        }
    }

    & .widget.widget--workload {}
}









@media (min-width: 768px) {
    .dashboard-header {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    .dashboard-subheader {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
}

@media (min-width: 1024px) {
    .dashboard-header {
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }

    .dashboard-subheader {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }

    .dashboard-main {
        grid-template-columns: repeat(3, minmax(0, 1fr));

        & .dashboard-main__column--left {
            grid-column: span 2 / span 2;
        }
    }
}