//- =====================================================
//- src/views/partials/notifications.pug
//- =====================================================
mixin notifications()
    #notifications
        //- JS injected toast notifications live here