//- =====================================================
//- src/views/partials/sidebar.pug
//- =====================================================
mixin sidebar()
    nav.sidebar
        ul.sidebar__nav
            li
                a(href="/dashboard") Dashboard
            li
                a(href="/devices") Geräte
            li
                a(href="/parts") Ersatzteile
            li
                a(href="/reports") Reports