//- ./src/views/dashboard/widgets/device-stats.pug

mixin deviceStats(stats)

    - var default = {class: "primary" };
    -var config = {...default, ...stats};




    .dashboard__header--container
        each class, 
            .dashboard__header__container--widgetCard(class="")
                .dashboard__header__container__widgetCard--info
                    .left
                        p.left--title Total Repared
                        p.left--counter 12
                        .left--extraInfo
                            i(class="far fa-arrow-up-right")
                            span.left__extraInfo--chartShow 12% from yesterday 
                    .right
                        i(class="far fa-mobile fa-lg")