//- ./src/views/dashboard/widgets/device-stats.pug

mixin deviceStats(stats)






    .dashboard__header--container
        - for (var i=0; i<4; i++) 
            .dashboard__header__container--widgetCard(class="")
                .dashboard__header__container__widgetCard--info
                    .left
                        p.left--title Total Repared
                        p.left--counter 12
                        .left--extraInfo
                            i(class="far fa-arrow-up-right")
                            span.left__extraInfo--chartShow 12% from yesterday 
                    .right
                        i(class="far fa-mobile fa-lg")