extends ../../layout/app.pug

include header.pug
include status-timeline.pug
include imei-sn.pug
include assigned-technician.pug
include parts.pug
include qc.pug
include history.pug
include plenty-status.pug


block content 

block modals 

block pageScript 